<table
  width="100%"
  cellspacing="0"
  cellpadding="0"
  style="width: 100%, border=0; background-color: #000; padding: 10px"
>
  <tr>
    <td align="center">
      <table
        style="border: 1px solid #2f3647; border-radius: 5px; margin: 40px 0"
        width="600"
        cellspacing="0"
        cellpadding="40"
      >
        <tr>
          <td align="center">
            <div
              style="
                font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto,
                  system-ui, Avenir, Helvetica, Arial, sans-serif;
                text-align: left;
                width: 465px;
              "
            >
              <table
                width="100%"
                cellspacing="0"
                cellpadding="0"
                style="width: 100% !important"
              >
                <tr>
                  <td align="center">
                    <div>
                      <img
                        src="https://cdn.yourcake.co/assets/yumzies.png"
                        height="80"
                        alt="YourCake"
                      />
                    </div>
                    <h1
                      style="
                        color: #c7c7c7;
                        font-family: -apple-system, BlinkMacSystemFont, Inter,
                          Roboto, system-ui, Avenir, Helvetica, Arial,
                          sans-serif;
                        font-size: 24px;
                        font-weight: normal;
                        margin: 30px 0;
                        padding: 0;
                      "
                    >
                      Reset your password
                    </h1>
                  </td>
                </tr>
              </table>

              <p
                style="
                  color: #c7c7c7;
                  font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto,
                    system-ui, Avenir, Helvetica, Arial, sans-serif;
                  font-size: 14px;
                  line-height: 24px;
                "
              >
                Hi {{.FirstName}}, you are receiving this email because you have
                requested reset your password. Use the code below to reset your
                password.
              </p>
              <p
                style="
                  color: #c7c7c7;
                  font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto,
                    system-ui, Avenir, Helvetica, Arial, sans-serif;
                  font-size: 14px;
                  line-height: 24px;
                "
              >
                Please copy the code and paste it in the box in the website.
              </p>

              <table
                width="100%"
                cellspacing="0"
                cellpadding="0"
                style="width: 100% !important; border: 0px; margin-top: 30px"
              >
                <tr>
                  <td align="center">
                    <div>
                      <p
                        style="
                          color: #c7c7c7;
                          font-family: -apple-system, BlinkMacSystemFont, Inter,
                            Roboto, system-ui, Avenir, Helvetica, Arial,
                            sans-serif;
                          font-size: 35px;
                          line-height: 24px;
                          letter-spacing: 10px;
                        "
                      >
                        {{.Code}}
                      </p>
                    </div>
                  </td>
                </tr>
              </table>

              <br />
              <div
                style="
                  border: none;
                  border-top: 1px solid #eaeaea;
                  margin: 26px 0;
                  width: 100%;
                "
              ></div>
              <span
                style="
                  color: #666666;
                  font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto,
                    system-ui, Avenir, Helvetica, Arial, sans-serif;
                  font-size: 12px;
                  line-height: 24px;
                "
              >
                <p>
                  This code will expire in 15 minutes. Please do not reply to
                  this email as it has been automatically generated and sent.
                </p>
                <p>
                  Please do not reply to this email as it has been automatically
                  generated and sent.
                </p>

                <p style="margin-top: 20px">
                  If you didn't attempt to reset your password, but received
                  this email, please report this email. You can do so by
                  visiting
                  <a
                    href="https://yourcake.freshdesk.com/support/home"
                    target="_blank"
                    style="color: #f5499a; text-decoration: none"
                    >our Help page</a
                  >
                  to get in touch with us.
                </p>
              </span>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
